name: Devodius Bot
run-name: ${{ github.actor }} is testing Devodius Bot
on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Lint branch name
        uses: ./.github/actions/branch-lint-action
      - name: Lint commit message
        uses: ./.github/actions/commit-lint-action
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE }}

  build:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: |
          npm ci
          npm run build
      - name: Test
        run: |
          npm run test
